extends base

block content
  main.main
    .edit-tour-form
      h2.heading-secondary.ma-bt-lg= `${tour.name} Edit Page`
      form.form.form--edit-tour
        .form__group
          label.form__label(for='name') name
          input#name.form__input(type='text', value=`${tour.name}`, required)
        .form__group
          label.form__label(for='summary') summary
          input#summary.form__input(type='text', value=`${tour.summary}`, required)
        .form__group
          label.form__label(for='description') description
          textarea#description.form__input(required)= tour.description
        .form__group
          label.form__label(for='price') price
          input#price.form__input(type='text', value=`${tour.price}`, required)
        .form__group
          label.form__label(for='difficulty') difficulty
          input#difficulty.form__input(type='text', value=`${tour.difficulty}`, required)
        .form__group
          label.form__label(for='duration') duration
          input#duration.form__input(type='text', value=`${tour.duration}`, required)
        .form__group
          label.form__label(for='maxGroupSize') maxGroupSize
          input#maxGroupSize.form__input(type='text', value=`${tour.maxGroupSize}`, required)
        .form__group
          label.form__label(for='imageCover') imageCover
          input#imageCover.form__input(type='text', value=`${tour.imageCover}`, required)
        .form__group
          label.form__label(for='images0') images
          input#images0.form__input(type='text', value=`${tour.images[0]}`)
          input#images1.form__input(type='text', value=`${tour.images[1]}`)
          input#images2.form__input(type='text', value=`${tour.images[2]}`)
        .form__group
          label.form__label(for='ratingsAverage') ratingsAverage
          input#ratingsAverage.form__input(type='text', value=`${tour.ratingsAverage}`)
        .form__group
          label.form__label(for='ratingsQuantity') ratingsQuantity
          input#ratingsQuantity.form__input(type='text', value=`${tour.ratingsQuantity}`)
        //- .form__group
        //-   label.form__label(for='startDate0') startDates
        //-   each startDate, index in tour.startDates
        //-     input.form__input(id=`startDate${index}`, type='text', value=`${startDate.startDate}`, required)
        #form__startDates
          each startDate, index in tour.startDates
            .form__group.form__group-startDate
              label.form__label(for=`startDate${index}`)= `startDate${index+1}`
              label.form__label-small(for=`startDate${index}`) startDate
              input.form__input(id=`startDate${index}`, type='text', value=`${startDate.startDate}`)
              label.form__label-small(for=`participant${index}`) participant
              input.form__input(id=`participant${index}`, type='text', value=`${startDate.participant}`)
              label.form__label-small(for=`soldOut${index}`) soldOut
              input.form__input(id=`soldOut${index}`, type='text', value=`${startDate.soldOut}`)
        button#add-date-button +
        button#delete-date-button -
        span.btnCapture add/remove startDate
        .form__group
          label.form__label(for="startloc-ew") startLocation
          label.form__label-small(for="startloc-ew") coordinates(east+/west-)
          input.form__input#startloc-ew(type='text', value=`${tour.startLocation.coordinates[0]}`)
          label.form__label-small(for="startloc-ns") coordinates(north+/south-)
          input.form__input#startloc-ns(type='text', value=`${tour.startLocation.coordinates[1]}`)
          label.form__label-small(for="address") address
          input.form__input#address(type='text', value=`${tour.startLocation.address}`)
          label.form__label-small(for="description") description
          input.form__input#description(type='text', value=`${tour.startLocation.description}`)
        #form__locations
          each location, index in tour.locations
            .form__group.form__group-location
              label.form__label(for=`coordinates-ew-${index}`)= `location${index+1}`
              label.form__label-small(for=`coordinates-ew-${index}`) coordinates(east+/west-)
              input.form__input(id=`coordinates-ew-${index}`, type='text', value=`${location.coordinates[0]}`)
              label.form__label-small(for=`coordinates-ns-${index}`) coordinates(north+/south-)
              input.form__input(id=`coordinates-ns-${index}`, type='text', value=`${location.coordinates[1]}`)
              label.form__label-small(for=`description${index}`) description
              input.form__input(id=`description${index}`, type='text', value=`${location.description}`)
              label.form__label-small(for=`day${index}`) day
              input.form__input(id=`day${index}`, type='text', value=`${location.day}`)
        button#add-loc-button +
        button#delete-loc-button -
        span.btnCapture add/remove location

            
        //- .form__group
        //-   label.form__label(for='price') price
        //-   input#price.form__input(type='text', value=`${tour.price}`, required)
        //- .form__group
        //-   label.form__label(for='price') price
        //-   input#price.form__input(type='text', value=`${tour.price}`, required)
        //- .form__group
        //-   label.form__label(for='price') price
        //-   input#price.form__input(type='text', value=`${tour.price}`, required)
        .form__group
          button.btn.btn--green#btn--update-tour Update